* {
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
	width: 100%;
}

body {
	align-items: center;
	background-color: #f5f5fa;
	display: flex;
	min-height: 100vh;
}

.App {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.App ul {
	list-style: none;
}

.App a,
.App button {
	cursor: pointer;
	text-decoration: none;
}

button.menu {
	transition: all 0.3s ease-in-out;
}

.burger {
	color: #c3c3c3;
	margin: 0;
}

.menu-filters {
	background-color: #f5f5fa;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	position: fixed;
	top: 3rem;
	width: inherit;
	z-index: 4;
}

.search-filters {
	margin-left: 1rem;
}

.search-filters span {
	font-size: 0.75rem;
    margin-right: 0.5rem;
}

.search-dropdown {
    background-color: rgba(197,201,224,.4);
    color: rgba(33,36,61,.8);
    font-size: 0.75rem;
	height: 1.375rem;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content div {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content div:hover {
	background-color: #f1f1f1
}

@media screen and (min-width: 480px) {
	
	
}

@media screen and (min-width: 576px) {

	/* button.menu {
		left: 3rem;
	} */
}

@media screen and (min-width: 769px) {
	.App {
		width: 85%;
	}

	button.menu {
		display: none;
	}
}