* {
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
	width: 100%;
}

body {
	align-items: center;
	background-color: #f5f5fa;
	display: flex;
	min-height: 100vh;
}

.App {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0 auto;
	text-align: center;
	width: 85%;
}

.App ul {
	list-style: none;
}

.App a,
.App button {
	cursor: pointer;
	text-decoration: none;
}
