header {
    background-color: #f5f5fa;
    display: flex;
    padding: 1.5rem;
    position: fixed;
    width: inherit;
    top: 0;
    z-index: 3;
}
  
.search-container {
    display: inline-block;
    margin-right: 1rem;
    position: relative;
    width: calc(100% - 324px);
}

.search-icon {
    left: 1.125rem;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 24px;
    pointer-events: none;
}
  
input {
    background-color: rgba(197,201,224,.4);
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: rgba(0,0,0,.75);
    font-weight: 300;
    font-size: 100%;
    height: 4rem;
    line-height: 1.15;
    padding: 1rem 9rem 1rem 3.625rem;
    padding-left: 58px;
    width: 100%;
}

input[type=search], input[type=text] {
    -webkit-appearance: none;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.powered-by {
    right: 24px;
    color: rgba(33,36,61,.5);
    margin-left: 8px;
    white-space: nowrap;
    position: absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.powered-by span {
    font-size: 12px;
}

.search-settings {
    align-items: center;
    display: flex;
    justify-content: center;
}

svg {
    color: #3a416f;
    width: 14px;
    margin-right: 8px;    
}

.search-settings a {
    color: rgba(33,36,61,.8);
    background-color: rgba(197,201,224,.4);
    padding: 20px;
    min-width: 64px;
    text-align: center;
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

span {
    display: initial;
    font-size: 14px;
}