header {
	background-color: #f5f5fa;
	display: flex;
	padding: 1.5rem;
	position: fixed;
	width: inherit;
	top: 0;
	z-index: 3;
}

.search-container {
	display: inline-block;
	margin-right: 1rem;
	position: relative;
	width: calc(100% - 20.25rem);
}

.search-icon {
	font-size: 1.5rem;
	left: 1.125rem;
	pointer-events: none;
	position: absolute;
	top: 54%;
	transform: translateY(-50%);
}

.search-icon > svg {
	width: inherit;
}

input {
	background-color: rgba(197, 201, 224, 0.4);
	border: none;
	border-radius: 4px;
	box-shadow: none;
	color: rgba(0, 0, 0, 0.75);
	font-weight: 300;
	height: 4rem;
	line-height: 1.15;
	padding: 1rem 9rem 1rem 3.625rem;
	width: 100%;
}

input[type='search'],
input[type='text'] {
	-webkit-appearance: none;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

button,
input {
	overflow: visible;
}

button,
input {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

.powered-by {
	align-items: center;
	color: rgba(33, 36, 61, 0.5);
	display: flex;
	margin-left: 0.5rem;
	position: absolute;
	right: 1.5rem;
	top: 38%;
	white-space: nowrap;
}

.powered-by span {
	font-size: 0.75rem;
	margin-right: 0.5rem;
}

.algolia-logo {
	height: 0.875rem;
	width: 3.5rem;
}

svg {
	color: #3a416f;
	margin-right: 0.5rem;
	width: 0.875rem;
}

.search-settings {
	align-items: center;
	display: flex;
	justify-content: center;
}

.search-settings a {
	align-items: center;
	background-color: rgba(197, 201, 224, 0.4);
	border-radius: 4px;
	color: rgba(33, 36, 61, 0.8);
	display: flex;
	min-width: 4rem;
	padding: 1.25rem;
	text-align: center;
}

span {
	font-size: 0.875rem;
}
