.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.pagination li a {
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.pagination li a:hover {
    cursor: pointer;
}

.pagination li a.active {
    background-color: #fff;
    border: 1px solid rgba(58,65,111,.5);
    color: #3a416f;
}

.pagination a:hover:not(.active) {
    background-color: lightgrey;
}