.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pagination li button {
	border: none;
	margin-right: 0.5rem;
	padding: 0.5rem;
}

.pagination li button:hover {
	cursor: pointer;
}

.pagination li button.active {
	background-color: white;
	border: 1px solid rgba(58, 65, 111, 0.5);
	color: black;
}

.pagination button:hover:not(.active) {
	background-color: #d3d3d3;
}
