button {
	border: 1px solid #c3c3c3;
	color: #c3c3c3;
}

button.menu {
    left: 1.125rem;
	position: fixed;
    top: 3.75rem;
	transition: all 0.3s ease-in-out;
}

.burger {
	color: #c3c3c3;
	height: inherit;
	margin: 0;
	width: inherit;
}

.sidebar {
	background-color: #f5f5fa;
	display: none;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 5.625rem;
	transition: all 0.3s ease-in-out;
	width: 13.75rem;
}

.sidebar.show {
	display: block;
}

.sidebar ul {
	margin: 0 0 0 0.5rem;
	padding: 0.5rem;
	width: 80%;
}

.sidebar ul:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.sidebar li {
	color: rgba(33, 36, 61, 0.5);
	text-align: left;
	width: 100%;
}

.sidebar li a {
	align-items: center;
	display: flex;
	font-size: 1rem;
	overflow: hidden;
	padding: 1rem 1.5rem 1rem 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sidebar li a:active {
	color: #3a416f;
}

.sidebar ul li a svg {
	width: 1rem;
}

@media screen and (min-width: 576px) {
	button.menu {
		left: 3rem;
	}
}

@media screen and (min-width: 769px) {

	button.menu {
		display: none;
	}

	.sidebar {
		display: unset;
		left: 1rem;
		padding-top: 8rem;
	}
	
	.sidebar ul {
		margin: 0 0 0 1.5rem;
	}

	.sidebar ul li a svg {
		margin-right: 1.5rem;
		width: 1.5rem;
	}

	.sidebar li a {
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 992px) {

	.sidebar {
		left: 5.9375rem;
	}
}
